<!doctype html>
<html>
<title>My Visitors</title>
<link rel=sytlesheet type=text/css href="{{ url_for('static', filename='sytle.css') }}">
<div class=page>
    {% block content %}{% endblock %}
</div>
</html>

